#movies img, #movie img{
    width:100%;
  }
  
  @media(min-width:960px){
    #movies .col-md-3 .well{
      height: 390px;
    }
  
    #movies .col-md-3 img{
      height:240px;
    }
  }
  
  #hackergrousrlpprsc-loader { position: fixed!important; top: 0; right: 0; bottom: 0; left: 0; z-index: 9999; background:#0C0C0C url('https://3.bp.blogspot.com/-6SYBDOe30C0/WC1H_BfAc0I/AAAAAAAAAMg/JveTNKZoQ7gMloT-mirROHbuP674nsO6gCLcB/s1600/loading%2B%25284%2529.gif') no-repeat 50% 30%; color: #FFF; display: none; font: 0/0 a; text-shadow: none; padding: 1em 1.2em; } 